* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal, italic;
}

.center {
  padding-right: calc(50% - 570px);
  padding-left: calc(50% - 570px);
}

.header {
  display: flex;
  flex-direction: column;
}

.header-upper {
  display: flex;
  align-items: center;
}
.header-upper__logo {
  padding: 40px 20px;
}
.header-upper__search {
  display: flex;
  align-items: center;
}
.header-upper__left {
  display: flex;
  align-items: center;
  gap: 26px;
  padding-left: 350px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo__img {
  width: 59px;
  height: 51px;
}
.logo__name {
  font-family: Lato;
  color: #222222;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.color-pink {
  font-weight: 900;
  color: #f16d7f;
}

.icons:hover path {
  fill: #f16d7f;
}

.drop-down {
  position: relative;
}

.drop-down:hover .megabox {
  display: flex;
}

.button-browse {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 87px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-family: Lato;
  color: #222222;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  text-transform: none;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
}
.search__line {
  width: 260px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  padding-left: 17px;
}
.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}

.basket {
  position: relative;
  padding: 20px;
}

.basket:hover .drop-down-menu {
  display: flex;
}

.drop-down-menu {
  display: none;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  width: 262px;
}

.card {
  padding: 12px;
}
.card__link {
  display: block;
  display: flex;
  justify-content: space-between;
}
.card__title {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card__stars {
  margin-bottom: 12px;
}
.card__price {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #f16d7f;
  text-transform: uppercase;
}
.card__close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.total-sum {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.total-sum__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
}

.button-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 50px;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: #4a4a4a;
  text-transform: uppercase;
}

.button-link:hover {
  transform: scale(1.05);
}

.card:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.X-fontsize {
  font-size: 10px;
}

.pink {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.button-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: none;
  font-family: Lato;
  color: #ffffff;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: none;
}

.button-account:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}

.button-account:hover .arrow path {
  fill: #f16d7f;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}
.nav-menu__list {
  position: relative;
}
.nav-menu__list:hover .megabox {
  display: grid;
}
.nav-menu__link {
  display: block;
  padding: 20px 25px;
  font-family: Lato;
  color: #222222;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.nav-menu__link:hover {
  color: #f16d7f;
}

.megabox {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  z-index: 1;
}

.megabox_nav {
  display: none;
}

.megabox_position {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  top: 50px;
  left: 0;
}

.megabox_flex {
  flex-direction: column;
}

.megabox::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  top: -9px;
  left: 30px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.megabox__item_1 {
  grid-area: 1/1/3/2;
}

.megabox__item_2 {
  grid-area: 1/2/2/3;
}

.megabox__item_3 {
  grid-area: 2/2/3/3;
}

.megabox__item_4 {
  grid-area: 1/3/3/3;
}

.megabox__img {
  grid-area: 2/3/3/4;
  position: relative;
}

.megabox__img:hover {
  transform: scale(1.02);
}

.megabox__txt {
  top: 61px;
  bottom: 12px;
  right: 10px;
  left: 174px;
  position: absolute;
  font-family: Lato;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.mega-title {
  font-family: Lato;
  color: #222222;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 236px;
  margin-bottom: 16px;
}

.mega-link {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}

.mega-link:hover {
  color: #f16d7f;
}

.last:hover .megabox {
  right: 0;
  left: auto;
}

.last:hover .megabox::before {
  right: 30px;
  left: auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f3f4;
  padding-top: 65px;
  padding-bottom: 65px;
}

.breadcrumbs__title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  color: #f16d7f;
  text-transform: uppercase;
}

.breadcrumbs__ul {
  display: flex;
  list-style-type: none;
}

.breadcrumbs__li:not(:last-child):after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumbs__li:last-child .breadcrumbs__link {
  font-weight: 700;
  color: #f16d7f;
}

.breadcrumbs__link {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.my-basket {
  padding-top: 90px;
  padding-bottom: 80px;
}

.my-goods__headings {
  display: grid;
  grid-template-columns: 30% 1Fr 1Fr 1Fr 1Fr 1Fr;
  border-bottom: 1px solid #eaeaea;
}
.my-goods__heading {
  display: flex;
  justify-content: center;
  font-family: Lato;
  color: #222222;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.my-goods__heading_left {
  display: flex;
  justify-content: start;
}
.my-goods__info {
  display: grid;
  grid-template-columns: 30% 1Fr 1Fr 1Fr 1Fr 1Fr;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}
.my-goods__card-link {
  display: flex;
  padding: 10px;
  gap: 32px;
}
.my-goods__card-title {
  font-family: Lato;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.my-goods__card-stars {
  margin-bottom: 15px;
}
.my-goods__card-info {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #575757;
  text-transform: none;
  margin-bottom: 5px;
}
.my-goods__card-info1 {
  font-weight: 300;
  color: #6f6e6e;
}
.my-goods__add-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #656565;
  text-transform: none;
}
.my-goods__add-info-block {
  width: 54px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  text-align: center;
}
.my-goods__card:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.basket-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
}

.busket-button {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: #4a4a4a;
  text-transform: uppercase;
  width: 235px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.busket-button:hover {
  border: 3px solid #e6e6e6;
}

.basket-checkout {
  display: flex;
  justify-content: space-between;
}

.basket-checkout__item-title {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
}

.basket-checkout__form-field {
  width: 355px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  color: #b1b1b1;
  text-transform: none;
  margin-bottom: 20px;
}

.basket-checkout__form-button {
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.2;
  color: #4a4a4a;
  text-transform: uppercase;
}

.basket-checkout__form-button:hover {
  border: 3px solid #e6e6e6;
}

.item-3 {
  background-color: #f5f3f3;
  padding: 40px;
}

.basket-checkout__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
  text-transform: none;
  margin-bottom: 24px;
}

.basket-checkout__item-text {
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  color: #4a4a4a;
  text-transform: uppercase;
  text-align: end;
  margin-bottom: 20px;
}

.basket-checkout__button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}

.basket-checkout__button:hover {
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  color: #f16d7f;
}

.price {
  margin-left: 20px;
}

.title-1 {
  margin-bottom: 22px;
}

.title-2 {
  margin-bottom: 28px;
}

.title-3 {
  text-align: end;
  margin-bottom: 40px;
}

.subscribe {
  background: rgba(244, 244, 244, 0.7);
  background-blend-mode: overlay;
  background-image: url(/images/subscribe_background.png);
  background-size: cover;
  height: 438px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.subscribe__left {
  display: flex;
  gap: 25px;
  width: 45%;
}

.subscribe__info__text {
  font-family: Lato;
  color: #222224;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  margin-bottom: 5px;
}

.subscribe__info__autor {
  font-family: Lato;
  color: #f16d7f;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: none;
}

.autor__black {
  color: #222224;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  margin-bottom: 40px;
}

.subscribe__info__lines {
  display: flex;
  gap: 10px;
}

.line {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.line:hover {
  background: #f16d7f;
}

.subscribe__right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.form__heading {
  font-family: Lato;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.form__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 35px;
}

.subscribe__email {
  display: flex;
}

.email {
  padding-left: 25px;
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  opacity: 0.67;
  font-family: Lato;
  color: #222224;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: none;
}

.email:hover {
  transform: scaleY(1.05);
}

.email__button {
  display: flex;
  align-items: center;
  padding-left: 25px;
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  font-family: Lato;
  color: #ffffff;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: none;
}

.email__button:hover {
  transform: scale(1.05);
}

.information {
  display: flex;
  gap: 65px;
  margin-bottom: 90px;
}

.information__brand {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 40%;
}

.brand__text {
  font-family: Lato;
  color: #898989;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  text-transform: none;
}

.information__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.information__item {
  width: 100%;
}

.item__heading {
  font-family: Lato;
  color: #f16d7f;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: none;
  margin-bottom: 40px;
}

.item__link {
  display: block;
  width: 100%;
  font-family: Lato;
  color: #898989;
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: none;
}

.item__link:hover {
  color: #f16d7f;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e6e6;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-right-text {
  font-family: Lato;
  color: #7a7a7a;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: none;
}

.footer-left {
  display: flex;
  gap: 5px;
}

.social-media {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 32px;
  height: 32px;
  padding: 5px;
  background-color: #ffffff;
}

.social-media__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media:hover {
  background-color: #f16d7f;
}

.social-media:hover .social-media__icons path {
  fill: #ffffff;
}/*# sourceMappingURL=shopping_cart_style.css.map */